<!DOCTYPE html>
<html>
<head>
  <title>SLE TRANSFER SLE-ANO 003971 ROXANNE PASCUAL</title>
</head>
<body>
<div style="background-color:#F8F9FA;font-size:14px;">
  <div style=";width:60%;margin-left:auto;margin-right: auto;margin-top:0px;margin-bottom:30px;">
    <div style="padding: 10px 0 10px 0;background-color:#F8F9FA;">
      <img src="http://boss.giligansrestaurant.com/images/giligans-header.png" style="background-color:#F8F9FA;">
    </div>
    
    <div style="border: 1px solid #E8EAED;background-color:#fff;">
      <div style="margin:20px;">
        <!-- <h2>Welcome</h2> -->
        <p style="padding:0;margin:0;margin-bottom:15px;line-height:24px;font-family:Roboto,Helvetica,Arial,sans-serif;">Good day! An export request transfer for <em><strong>003971 ROXANNE PASCUAL</strong></em> was send by <strong>SLE</strong> branch.</p>
        <p style="padding:0;margin:0;margin-bottom:15px;line-height:24px;font-family:Roboto,Helvetica,Arial,sans-serif;">Kindly confirm the transfer on Area Module by click the <strong>View Request</strong> link below.</p>

        <p style="padding:0;margin:0;margin-bottom:15px;line-height:24px;font-family:Roboto,Helvetica,Arial,sans-serif;"><a href="" style="font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;color:#fff;background-color:#007bff;border-color:#007bff;text-decoration:none;display:inline-block;font-weight:500;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;line-height:1.5;border-radius:.25rem;transition:background-color .15s ease-out">View Request</a></p>

        <p style="padding:0;margin:0;margin-bottom:15px;line-height:24px;font-family:Roboto,Helvetica,Arial,sans-serif;">Thank you!</p>
      </div>
    </div>

    <div style="border: 1px solid #E8EAED;background-color:#fff; margin-top: 10px">
      <div style="margin:20px;">
        <div style="margin-bottom:15px;font-size:13px;color:gray;font-family:Roboto,Helvetica,Arial,sans-serif;">Note:</div>

        <p style="padding:0;margin:0;margin-bottom:15px;line-height:24px;font-family:Roboto,Helvetica,Arial,sans-serif;"><em>"Pa approved na po! ty"</em></p>
        <p style="padding:0;margin:20px 0 15px 0;line-height:24px;font-family:Roboto,Helvetica,Arial,sans-serif;">- Jeff</p>
      </div>
    </div>

    <div style="padding: 10px 0 10px 0;background-color:#F8F9FA;">
     <small style="font-size:11px;color:gray;font-family:Roboto,Helvetica,Arial,sans-serif;"><em>Note: This is a system generated email.</em></small>
    </div>
  </div>
</div>
</table>
</body>
</html>