/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
/public/uploads
/public/files
/public/data
/public/Resources
/public/downloads
/logs
/TEST_POS_BACKUP
/TEST_FILES_BACKUP
/TEST_PAYROLL_BACKUP
/BACKUP_PROCESSING_ERROR
/UNKNOWN_BACKUP_FILES
/storage/backup
/storage/process
/storage/eod
/storage/db
/storage/product
/storage
/config


.env.example
bower_components

/app/Console/Commands/_EndOfDay.php
/app/Repositories/Rmis/_Orpaydtl.php
/app/Http/Controllers/UploaderController.php
/public/images/employees
